@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap");

body {
  min-height: 100vh;
  height: auto;
  position: relative;
  font-family: Lato, "Helvetica Neue", "Noto Sans SC", Arial, Helvetica,
    sans-serif;
}

.field .react-datepicker-wrapper {
  width: 100%;
}

.container .react-datepicker {
  font-size: unset;
  font-family: unset;
}

.imken-date-picker > .dropdown {
  width: 35px;
  min-width: fit-content !important;
  width: fit-content;
}

.imken-date-picker .ui.icon.button {
  margin: 0 0.25em;
}

ins.adsbygoogle[data-ad-status="unfilled"] {
  display: none !important;
}

body,
.ui.placeholder,
.ui.placeholder .image.header:after,
.ui.placeholder .line,
.ui.placeholder .line:after,
.ui.placeholder > :before {
  background-color: #fffbff;
}

.ui.message {
  background-color: #fffbff;
}
