.feed-content img {
  max-width: 500px;
  max-height: 500px;
}

.ui.feed > .event > .content .extra.text {
  max-width: unset;
}

.clickable {
  cursor: pointer;
}

.adsbygoogle {
  display: block;
}
