.ui.labeled.icon.menu .item {
  min-width: unset;
  padding: 10px 0;
}

.ui.labeled.icon.menu .item.active {
  background-color: #ffd9dc;
  color: #2c1518;
}

.menu-label {
  font-size: 0.9rem;
}

.ui[class*="very thin"].left.sidebar,
.ui[class*="very thin"].right.sidebar {
  width: 80px;
  background-color: #fffbff;
}

.ui.vertical.menu {
  box-shadow: none !important;
}
